/*******************
 * RESUME PAGE CSS *
 *******************/
.resume-page-wrapper {
  position: relative;
  padding: 3rem 0.9rem 3rem 0.9rem;
  background: #fff;
  color: #7e7e7e;
}

.resume-page-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.resume-page-head {
  display: flex;
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  color: #2a5b51 !important;
  width: 27%;
  margin: 0 auto !important;
  z-index: 1;
}

.resume-page-head .first-head {
  font-weight: 100 !important;
  font-size: 9rem !important;
  /* color: #30c3a6 !important; */
  letter-spacing: 0.05em !important;
  font-family: 'Raleway', sans-serif !important;
}

.resume-page-head .second-head {
  font-weight: 900 !important;
  color: #30c3a6 !important;
  font-size: 9rem !important;
  letter-spacing: 0.1em !important;
  text-shadow: 0 0 #30c3a6, 0.04em 0 0 #30c3a6, 0 0, -0.03em 0 0 #30c3a6;
  margin-left: 1rem !important;
  font-family: 'Raleway', sans-serif !important;
}

.resume-sub-head {
  display: flex;
  width: 21%;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
}

.point {
  padding: 0 1rem;
  font-weight: bolder;
  font-size: 2rem;
  margin: -8px 0;
  color: #30c3a6;
}

.first-sub-head {
  display: flex !important;
  color: #30c3a6 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
}

.first-sub-head div,
.second-sub-head div {
  padding: 0 0.3rem;
}

.first-sub-head div::first-letter {
  color: #30c3a6 !important;
  font-size: 2rem !important;
}

.second-sub-head {
  display: flex !important;
  color: #30c3a6 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
}

.second-sub-head div::first-letter {
  color: #30c3a6 !important;
  font-size: 2rem !important;
}

.resume-contact {
  width: 59%;
  font-weight: 700;
  margin: 1rem auto;
  display: flex;
  font-size: 1.8rem;
}

.resume-contact svg {
  color: #30c3a6 !important;
  margin: 0 0.5rem;
}

.resume-contact a {
  color: #7e7e7e;
  text-decoration: none;
  transition: all 0.3s ease;
}

.resume-contact a:hover,
.resume-contact a:focus,
.resume-contact a:active {
  color: #30c3a6;
  text-decoration: none;
}

.resume-contact div::after {
  content: '';
  border-left: 2px solid #30c3a6;
  margin: 0 3rem;
}

.resume-contact div:last-child::after {
  content: '';
  border-left: none;
  margin: 0 2rem;
}

.resume-quote {
  width: 33%;
  margin: 4rem auto;
  display: flex;
  font-size: 2.8rem;
  font-style: italic;
}

.resume-content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.content-item {
  margin: 6rem 0;
}

.resume-education {
}

.head-wrapper {
  font-size: 6rem;
}

.resume-education-head:after {
  width: 1240px !important;
}

.resume-section-item {
  margin: 1rem 0 5rem;
}

.education-item:last-child {
  margin-top: 5rem;
}

.resume-section-sub-item {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

.college-name-place {
  font-size: 3rem;
}

.cname {
  letter-spacing: 0.03em;
}

.cplace {
  color: #30c3a6;
}

.major-years {
  font-size: 2rem;
}

.major {
  display: flex;
}

.major div {
  padding: 0 0.3rem;
  letter-spacing: 0.1rem;
}

.major div::first-letter {
  font-size: 2.5rem !important;
}

.description-list {
  font-size: 2.5rem;
  margin: 0 5rem;
  list-style-position: outside;
}

.description-list li {
  margin: 0.5rem 0;
}

.resume-section-head {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 95%;
}

.resume-section-head:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #7e7e7e;
  top: 37px;
  margin: 1rem;
  width: inherit;
}

.resume-section-head::first-letter {
  color: #30c3a6;
  font-weight: bold;
}

.skills-item {
  font-size: 2.5rem;
  margin: 2rem;
}

.skills-content {
  margin: 1rem;
}

.skills-content strong {
  font-size: 3rem;
}

.resume-experience-head::after {
  width: 1205px;
}

.resume-projects-head::after {
  width: 1290px;
}
.resume-extra-cu-head::after {
  width: 920px;
}

.project-link {
  color: #30c3a6;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-link:hover {
  color: #30c359;
}

.thank-you-text {
  margin: 0 0 2em 0;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  top: 8px;
  width: 650px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.thank-you {
  font-size: 4rem;
}

/* back button css */
div.backBtn {
  width: 100px;
  left: 50px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #30c3a6;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
    background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 2rem;
}

div.backBtn:hover span.label {
  left: 25px;
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #30c3a6;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}
