/************************
 * PROJECTS SECTION CSS *
 ************************/
.projects-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
}

.projects-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.projects-grid {
  margin-top: 2rem;
}

.projects-wrapper-paper .grid-item {
  padding: 0 !important;
}

.projects-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.projects-wrapper .card {
  margin: 3rem auto;
  width: 430px;
  height: 470px;
  padding: 1rem 0 2rem 0;
  background-color: #e6f8ed;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}

.projects-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: rgba(26, 188, 156, 0.9) !important;
}

.wrapper {
  width: 430px;
  height: 500px;
  background: white;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  font-family: 'Proxima';
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
}

.wrapper:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrapper .container .top {
  height: 80%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.image-loader {
  position: absolute;
  z-index: 1000;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder-image {
  width: 100%;
  height: auto;
  /* padding: 0 4rem 0 0; */
  padding: 0;
  margin: 0;
}

.loading-text {
  font-size: 2rem;
  padding: 1rem;
}

.wrapper .container .top img {
  max-height: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 80%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper .container .bottom.clicked {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  position: relative;
  float: left;
}

.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  text-align: left;
  color: #2a5b51;
  width: calc(70% - 40px);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.details:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#235349),
    to(#185d2a)
  );
  background: linear-gradient(to right, #235349, #185d2a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.details .project-name {
  font-size: 2.5rem;
  font-weight: 600;
}

.details .project-description {
  font-size: 1.7rem;
}

.github-link {
  float: right;
  outline: none;
  width: calc(30% - 2px);
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.github-link i {
  font-size: 3rem;
  padding: 3.3rem;
  color: #2a5b51;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover i {
  font-size: 3rem;
  padding: 3.3rem;
  color: #2a5b51;
  position: absolute;
  top: 4%;
  right: 4%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.github-link:hover i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b9980),
    to(#41c062)
  );
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.github-link-image {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover .github-link-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.github-link-image {
  position: absolute;
  top: 30%;
  right: 11%;
  width: 35px;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

.wrapper .inside {
  z-index: 10000;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  -webkit-transition: all 0.5s, border-radius 2s, top 1s;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: #2a5b51;
  opacity: 1;
}

.material-icons {
  font-weight: 500;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents .tech-head {
  color: #2a5b51;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.wrapper .inside .contents .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .inside .contents .category-head {
  color: #2a5b51;
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.wrapper .inside .contents .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.technologies .icons {
  font-size: 4rem;
  margin: 1rem 3rem;
}

.icon-name,
.category-name {
  font-size: 2rem;
  color: #2a5b51;
}

.more-info {
  margin: 1rem;
}

.info-head {
  color: #2a5b51;
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.info-icon {
  margin: 0.5rem !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.info-icon:hover {
  background-color: #e6f8ed !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.info-icons {
  font-size: 2.5rem !important;
  color: white;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.info-icon:hover .github {
  color: #24292e !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
