/******************
 * QUOTES WRAPPER *
 ******************/
.quotes-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  color: #7e7e7e;
}

.quotes-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.quote {
  outline: none;
}

.quotes-text {
  quotes: '“' '”' '‘' '’';
  font-size: 3rem;
  font-weight: 600;
  color: #2a5b51;
  letter-spacing: 0.05em;
  font-family: 'Proxima', sans-serif;
}

.quotes-writer {
  quotes: '“' '”' '‘' '’';
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #fff;
  letter-spacing: 0.05em;
  font-style: italic;
  font-family: 'Proxima', sans-serif;
}
