/************************
 * SKILLS COMPONENT CSS *
 ************************/
.skills-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
}

.skills-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.skills-grid {
  margin: 1rem 1rem;
}

.skills-wrapper-paper .grid-item {
  padding: 0 !important;
}

.skills-wrapper-paper .card {
  margin: 3rem auto;
  width: 430px;
  height: 320px;
  cursor: pointer;
  padding: 1rem 0 2rem 0;
  border-radius: 10px !important;
  -webkit-box-shadow: none;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  /* background: linear-gradient(to right, #30c3a6, #8cc69b); */
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.skills-wrapper-paper .card:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-icon {
  margin: 2rem;
}

.skills-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: #30c3a6 !important;
}

.card-content-text {
  font-family: 'Proxima', sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.04 !important;
  font-size: 3.5rem !important;
  color: #2a5b51 !important;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.card-content-sub-text {
  font-family: 'Proxima', sans-serif !important;
  line-height: 1.5 !important;
  font-size: 2rem !important;
  margin: 2rem 1rem 1rem 1rem !important;
  color: #46615c !important;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.skills-wrapper-paper .card:hover .card-content-text {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-weight: 600 !important;
}

.skills-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
