/******************
 * RESUME WRAPPER *
 ******************/
.resume-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  color: #7e7e7e;
}

.resume-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.resume-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  color: #2a5b51 !important;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.resume-image {
  height: 700px;
  /* background-image: linear-gradient(#28c4a5, rgba(0, 0, 0, 0.5)),
    url(../../assets/images/resume-image.png);
  height: 655px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12); */
  color: #fff !important;
  /* background-color: #f5f5f5 !important; */
  background-size: cover;
  /* background-position: center center; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  border-radius: 10px !important;
  padding: 0;
}

.resume-image-view {
  width: 80%;
}

.resume-button-div {
  position: absolute;
  top: 52%;
  left: 45%;
}

.resume-button {
  cursor: pointer;
  text-decoration: none;
}

button.btn {
  background: #b2bdbb;
  border-radius: 5px;
  font-size: 2rem !important;
  background-color: transparent;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Proxima';
  position: relative;
  border: 2px solid white;
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1),
    background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  min-width: 20rem;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (min-width: 400px) {
  button.btn {
    width: auto;
  }
}
@media (min-width: 800px) {
  button.btn {
    font-size: 1.1rem;
    padding: 1.6rem 2.8rem;
  }
}
button.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b9980),
    to(#41c062)
  );
  background: linear-gradient(to right, #1b9980, #41c062);
  border-color: white;
  color: #fff;
}

button.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, #1b9980, #41c062);
}

.btn-arrow {
  position: relative;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.btn-arrow span {
  color: white;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  color: #fff;
  -webkit-transform: translate3d(-2rem, 0, 0);
  transform: translate3d(-2rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -4rem;
}
