/**************
 * NAVBAR CSS *
 **************/
.navbar {
  padding: 1%;
}

.appbar {
  background-color: transparent !important;
}

.appbar-background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../assets/images/background/back5.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 0.5rem;
}

.navbar-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
}

.navbar-avatar-in {
  margin: 1rem;
  opacity: 1;
  -webkit-animation: 0.5s slidein;
  animation: 0.5s slidein;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.navbar-avatar-out {
  opacity: 0;
  -webkit-animation: 0.5s slideout;
  animation: 0.5s slideout;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@-webkit-keyframes slideout {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes slideout {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.navbar-brand {
  font-size: 5rem;
  font-weight: 600;
  margin: 0.3rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
}

.navbar-brand-out {
  position: absolute;
  top: -5rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.navbar-brand-in {
  position: absolute;
  top: 1rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.menu-button {
  margin: 1rem !important;
}
