/* -------------------- Resets --------------------- */
body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  border: 0; /* kills Gecko bug when img's are placed inside links */
  vertical-align: bottom; /* set vertical align to bottom for IE */
}

/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto; /* triggers 100% height in Opera 9.5 */
  font-size: 62.5%;
}

body {
  height: 100%; /* helps make height 100% */
  background: #f7f7f7 !important;
  color: #333;
  font-size: 1.4rem;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ------------------ Typography ------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1em;
}

p,
ul,
ol {
  font-size: 1em;
}

/* ul {
  margin: 0 0 1em 25px;
  list-style: none;
} */

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.portfolio {
  text-align: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.horizontal-rule {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(#30c3a6),
    to(rgba(0, 0, 0, 0))
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #30c3a6,
    rgba(0, 0, 0, 0)
  );
}

/**********************
 * MAIN CONTAINER CSS *
 **********************/
.container {
  width: 80%;
  margin: 0 auto;
}

/**************
 * NAVBAR CSS *
 **************/
.navbar {
  padding: 1%;
}

.appbar {
  background-color: transparent !important;
}

.appbar-background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back5.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 0.5rem;
}

.navbar-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
}

.navbar-avatar-in {
  margin: 1rem;
  opacity: 1;
  -webkit-animation: 0.5s slidein;
  animation: 0.5s slidein;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes slidein {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.navbar-avatar-out {
  opacity: 0;
  -webkit-animation: 0.5s slideout;
  animation: 0.5s slideout;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

@-webkit-keyframes slideout {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes slideout {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.navbar-brand {
  font-size: 5rem;
  font-weight: 600;
  margin: 0.3rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
}

.navbar-brand-out {
  position: absolute;
  top: -5rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.navbar-brand-in {
  position: absolute;
  top: 1rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.menu-button {
  margin: 1rem !important;
}

/* navigation CSS */
.nav {
  position: relative;
}
.button_container {
  position: fixed;
  top: 2.3%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  outline: none;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.button_container.active .middle {
  opacity: 0;
  background: #fff;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

.button_container span {
  background: #30c3a6;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  font-family: 'Proxima', sans-serif;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #2a5b51;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 50%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #2a5b51;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/****************
 * HOMEPAGE CSS *
 ****************/
.main-wrapper {
  position: relative;
}

.background-slideshow {
  position: relative;
}

.main-wrapper-paper {
  height: 920px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff !important;
  background-color: #f5f5f5 !important;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  border-radius: 0 !important;
  padding: 0;
}

.avatar-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-avatar {
  width: 150px !important;
  height: 150px !important;
  border-radius: 0 !important;
}

.name-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 37%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: #333;
  color: transparent;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#30c3a6),
      to(#8cc69b)
    )
    center 1.09em no-repeat;
  background: linear-gradient(to right, #30c3a6, #8cc69b) center 1.09em
    no-repeat;
  background-size: 80% 3px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.name-head:hover {
  background-size: 97% 3px;
}

.main-wrapper-first-head {
  font-weight: 100 !important;
  font-size: 8rem !important;
  color: #30c3a6 !important;
  letter-spacing: 0.05em !important;
  font-family: 'Raleway', sans-serif !important;
}

.main-wrapper-second-head {
  font-weight: 900 !important;
  color: #fff !important;
  font-size: 8rem !important;
  letter-spacing: 0.1em !important;
  text-shadow: 0 0 #fff, 0.04em 0 0 #fff, 0 0, -0.03em 0 0 #fff;
  margin-left: 1rem !important;
  font-family: 'Raleway', sans-serif !important;
}

/******************
 * TYPED-TEXT CSS *
 ******************/
.typed-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  font-size: 5rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  top: 50%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.typed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3.2rem;
  position: absolute;
  font-size: 2.5rem;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/********************
 * SOCIAL-ICONS CSS *
 ********************/
.social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social-icon {
  margin: 0 11% 0 0;
  border-radius: 50%;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 4px;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 1rem;
  position: relative;
  font-size: 1.2em;
  left: 74px;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: ' ';
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #c2ccf1, #d0cfdf);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #c2ccf1, #d0cfdf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a.social-square:before {
  background: linear-gradient(45deg, #f5f5f5, #a2dcd1);
  border-radius: 10%;
}

.social-icons a.social-square:hover:before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}

.social-icons a.social-square:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.social-icons-nav-in .social-icons {
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-right: 6rem;
  position: absolute;
  top: 0rem;
  right: 10rem;
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.social-icons-nav-out .social-icons {
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-right: 6rem;
  position: absolute;
  top: -6rem;
  right: 10rem;
  -webkit-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.social-nav-icon {
  position: absolute;
  top: 0.9rem;
  left: 1.1rem;
  font-size: 2rem;
}

/*************
 * QUOTE CSS *
 *************/
.quote-wrapper {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 85%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quote-text {
  quotes: '“' '”' '‘' '’';
  font-size: 3rem !important;
  color: white !important;
  letter-spacing: 0.05em !important;
  font-family: 'Proxima', sans-serif !important;
}

.quote-writer {
  quotes: '“' '”' '‘' '’';
  font-size: 2rem !important;
  color: white !important;
  letter-spacing: 0.05em !important;
  font-style: italic;
  font-family: 'Proxima', sans-serif !important;
}

.quote-text:before {
  content: open-quote;
}

.quote-text:after {
  content: close-quote;
}

/************************
 * SKILLS COMPONENT CSS *
 ************************/
.skills-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.skills-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.skills-grid {
  margin: 1rem 1rem;
}

.skills-wrapper-paper .grid-item {
  padding: 0 !important;
}

.skills-wrapper-paper .card {
  margin: 3rem auto;
  width: 430px;
  height: 320px;
  cursor: pointer;
  padding: 1rem 0 2rem 0;
  border-radius: 10px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition: box-shadow 0.5s, -webkit-transform 0.5s;
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.skills-wrapper-paper .card:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-icon {
  margin: 2rem;
}

.skills-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: white !important;
}

.card-content-text {
  font-family: 'Proxima', sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.04 !important;
  font-size: 3.5rem !important;
  color: #2a5b51 !important;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.card-content-sub-text {
  font-family: 'Proxima', sans-serif !important;
  line-height: 1.5 !important;
  font-size: 2rem !important;
  margin: 2rem 1rem 1rem 1rem !important;
  color: #46615c !important;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.skills-wrapper-paper .card:hover .card-content-text {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  font-weight: 600 !important;
}

.skills-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/******************
 * QUOTES WRAPPER *
 ******************/
.quotes-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  color: #7e7e7e;
}

.quotes-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.quote {
  outline: none;
}

.quotes-text {
  quotes: '“' '”' '‘' '’';
  font-size: 3rem;
  font-weight: 600;
  color: #2a5b51;
  letter-spacing: 0.05em;
  font-family: 'Proxima', sans-serif;
}

.quotes-writer {
  quotes: '“' '”' '‘' '’';
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #fff;
  letter-spacing: 0.05em;
  font-style: italic;
  font-family: 'Proxima', sans-serif;
}

/************************
 * PROJECTS SECTION CSS *
 ************************/
.projects-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.projects-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.projects-grid {
  margin-top: 2rem;
}

.projects-wrapper-paper .grid-item {
  padding: 0 !important;
}

.projects-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.projects-wrapper .card {
  margin: 3rem auto;
  width: 430px;
  height: 470px;
  padding: 1rem 0 2rem 0;
  background-color: #e6f8ed;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}

.projects-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: rgba(26, 188, 156, 0.9) !important;
}

.wrapper {
  width: 430px;
  height: 500px;
  background: white;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  font-family: 'Proxima';
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s,
    -webkit-transform 0.5s;
}

.wrapper:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.wrapper .container .top {
  height: 80%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.image-loader {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder-image {
  width: 100%;
  height: auto;
  /* padding: 0 4rem 0 0; */
  padding: 0;
  margin: 0;
}

.loading-text {
  font-size: 2rem;
  padding: 1rem;
}

.wrapper .container .top img {
  max-height: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 80%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper .container .bottom.clicked {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  position: relative;
  float: left;
}

.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  text-align: left;
  color: #2a5b51;
  width: calc(70% - 40px);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.details:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#235349),
    to(#185d2a)
  );
  background: linear-gradient(to right, #235349, #185d2a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.details .project-name {
  font-size: 2.5rem;
  font-weight: 600;
}

.details .project-description {
  font-size: 1.7rem;
}

.github-link {
  float: right;
  outline: none;
  width: calc(30% - 2px);
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.github-link i {
  font-size: 3rem;
  padding: 3.3rem;
  color: #2a5b51;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover i {
  font-size: 3rem;
  padding: 3.3rem;
  color: #2a5b51;
  position: absolute;
  top: 4%;
  right: 4%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.github-link:hover i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b9980),
    to(#41c062)
  );
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.github-link-image {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover .github-link-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.github-link-image {
  position: absolute;
  top: 30%;
  right: 11%;
  width: 35px;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

.wrapper .inside {
  z-index: 10000;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  -webkit-transition: all 0.5s, border-radius 2s, top 1s;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: #2a5b51;
  opacity: 1;
}

.material-icons {
  font-weight: 500;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents .tech-head {
  color: #2a5b51;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.wrapper .inside .contents .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .inside .contents .category-head {
  color: #2a5b51;
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
}

.wrapper .inside .contents .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.technologies .icons {
  font-size: 4rem;
  margin: 1rem 3rem;
}

.icon-name,
.category-name {
  font-size: 2rem;
  color: #2a5b51;
}

/******************
 * RESUME WRAPPER *
 ******************/
.resume-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  color: #7e7e7e;
}

.resume-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.resume-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  color: #2a5b51 !important;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.resume-button {
  cursor: pointer;
  text-decoration: none;
}

button.btn {
  background: #2a5b51;
  border-radius: 5px;
  font-size: 2rem !important;
  background-color: transparent;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Proxima';
  position: relative;
  border: 2px solid #2a5b51;
  -webkit-transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1),
    background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1),
    background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  min-width: 20rem;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media (min-width: 400px) {
  button.btn {
    width: auto;
  }
}
@media (min-width: 800px) {
  button.btn {
    font-size: 1.1rem;
    padding: 1.6rem 2.8rem;
  }
}
button.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b9980),
    to(#41c062)
  );
  background: linear-gradient(to right, #1b9980, #41c062);
  border-color: #2a5b51;
  color: #fff;
}

button.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1b9980),
    to(#41c062)
  );
  background: linear-gradient(to right, #1b9980, #41c062);
}

.btn-arrow {
  position: relative;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.btn-arrow span {
  color: #2a5b51;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  color: #fff;
  -webkit-transform: translate3d(-2rem, 0, 0);
  transform: translate3d(-2rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -4rem;
}

/*******************
 * RESUME PAGE CSS *
 *******************/
.resume-page-wrapper {
  position: relative;
  padding: 3rem 0.9rem 3rem 0.9rem;
  background: #fff;
  color: #7e7e7e;
}

.resume-page-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.resume-page-head {
  display: flex;
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  color: #2a5b51 !important;
  width: 27%;
  margin: 0 auto !important;
  z-index: 1;
}

.resume-page-head .first-head {
  font-weight: 100 !important;
  font-size: 9rem !important;
  /* color: #30c3a6 !important; */
  letter-spacing: 0.05em !important;
  font-family: 'Raleway', sans-serif !important;
}

.resume-page-head .second-head {
  font-weight: 900 !important;
  color: #30c3a6 !important;
  font-size: 9rem !important;
  letter-spacing: 0.1em !important;
  text-shadow: 0 0 #30c3a6, 0.04em 0 0 #30c3a6, 0 0, -0.03em 0 0 #30c3a6;
  margin-left: 1rem !important;
  font-family: 'Raleway', sans-serif !important;
}

.resume-sub-head {
  display: flex;
  width: 21%;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
}

.point {
  padding: 0 1rem;
  font-weight: bolder;
  font-size: 2rem;
  margin: -8px 0;
  color: #30c3a6;
}

.first-sub-head {
  display: flex !important;
  color: #30c3a6 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
}

.first-sub-head div,
.second-sub-head div {
  padding: 0 0.3rem;
}

.first-sub-head div::first-letter {
  color: #30c3a6 !important;
  font-size: 2rem !important;
}

.second-sub-head {
  display: flex !important;
  color: #30c3a6 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.05em !important;
}

.second-sub-head div::first-letter {
  color: #30c3a6 !important;
  font-size: 2rem !important;
}

.resume-contact {
  width: 59%;
  font-weight: 700;
  margin: 1rem auto;
  display: flex;
  font-size: 1.8rem;
}

.resume-contact svg {
  color: #30c3a6 !important;
  margin: 0 0.5rem;
}

.resume-contact a {
  color: #7e7e7e;
  text-decoration: none;
  transition: all 0.3s ease;
}

.resume-contact a:hover,
.resume-contact a:focus,
.resume-contact a:active {
  color: #30c3a6;
  text-decoration: none;
}

.resume-contact div::after {
  content: '';
  border-left: 2px solid #30c3a6;
  margin: 0 3rem;
}

.resume-contact div:last-child::after {
  content: '';
  border-left: none;
  margin: 0 2rem;
}

.resume-quote {
  width: 33%;
  margin: 4rem auto;
  display: flex;
  font-size: 2.8rem;
  font-style: italic;
}

.resume-content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.content-item {
  margin: 6rem 0;
}

.resume-education {
}

.head-wrapper {
  font-size: 6rem;
}

.resume-education-head:after {
  width: 1240px !important;
}

.resume-section-item {
  margin: 1rem 0 5rem;
}

.education-item:last-child {
  margin-top: 5rem;
}

.resume-section-sub-item {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

.college-name-place {
  font-size: 3rem;
}

.cname {
  letter-spacing: 0.03em;
}

.cplace {
  color: #30c3a6;
}

.major-years {
  font-size: 2rem;
}

.major {
  display: flex;
}

.major div {
  padding: 0 0.3rem;
  letter-spacing: 0.1rem;
}

.major div::first-letter {
  font-size: 2.5rem !important;
}

.description-list {
  font-size: 2.5rem;
  margin: 0 5rem;
  list-style-position: outside;
}

.description-list li {
  margin: 0.5rem 0;
}

.resume-section-head {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 95%;
}

.resume-section-head:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #7e7e7e;
  top: 37px;
  margin: 1rem;
  width: inherit;
}

.resume-section-head::first-letter {
  color: #30c3a6;
  font-weight: bold;
}

.skills-item {
  font-size: 2.5rem;
  margin: 2rem;
}

.skills-content {
  margin: 1rem;
}

.skills-content strong {
  font-size: 3rem;
}

.resume-experience-head::after {
  width: 1205px;
}

.resume-projects-head::after {
  width: 1290px;
}
.resume-extra-cu-head::after {
  width: 920px;
}

.project-link {
  color: #30c3a6;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-link:hover {
  color: #30c359;
}

.thank-you-text {
  margin: 0 0 2em 0;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before,
.fancy span:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
  top: 8px;
  width: 650px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.thank-you {
  font-size: 4rem;
}

/* back button css */
div.backBtn {
  width: 100px;
  left: 100px;
  background-color: #f4f4f4;
  transition: all 0.4s ease;
  position: fixed;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #30c3a6;
  border-radius: 10px;
  width: 100%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
    background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 100%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 2rem;
}

div.backBtn:hover span.label {
  left: 25px;
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #30c3a6;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}

/***********************
* CONTACT SECTION CSS *
***********************/

.contacts-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background: #e3f7ec; */
}

.contacts-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 70%;
  margin: 0 auto;
}

.contacts-grid {
  margin-top: 2rem;
}

.contacts-wrapper-paper .grid-item {
  padding: 0 !important;
}

.contacts-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #1b9980, #41c062);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.contact-icon {
  margin: 2% !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-icon:hover {
  background-color: #e6f8ed !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-icons {
  font-size: 2rem !important;
  color: white;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-icon:hover .linkedin {
  color: #0077b5 !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.contact-icon:hover .facebook {
  color: #4267b2 !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.contact-icon:hover .github {
  color: #24292e !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.contact-icon:hover .twitter {
  color: #1da1f2 !important;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.contact-row {
  text-align: left;
  margin: 3%;
}

.phone-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-icon {
  font-size: 3rem;
  margin: 1%;
  color: #30c3a6;
}

.phone {
  margin: 1% !important;
  font-family: 'Proxima', sans-serif !important;
  font-weight: 500 !important;
  color: #fff !important;
}

.phone-text {
  margin: 2% !important;
  font-size: 2rem;
  color: #30c3a6;
  cursor: pointer;
}

.phone-text:hover {
  color: #30c3a6;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.email-row {
  text-align: left;
  margin: 5%;
}

.email-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-icon {
  font-size: 3rem;
  margin: 1%;
  color: #30c3a6;
}

.email {
  margin: 1% !important;
  font-family: 'Proxima', sans-serif !important;
  font-weight: 500 !important;
  color: #fff !important;
}

.email-text {
  margin: 2% !important;
  font-size: 2rem;
  color: #30c3a6;
}

.email-text a {
  color: #30c3a6;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.email-text a:hover {
  color: #30c3a6;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/**********************
 * FOOTER SECTION CSS *
 **********************/
.footer-wrapper {
  position: relative;
  padding: 1rem 1.9rem 0rem 0.9rem;
}

.footer-wrapper-paper {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 70%;
  margin: 4rem auto;
}

.footer {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url('./assets/images/background/back1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back1.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#30c3a6),
    to(#8cc69b)
  );
  background: linear-gradient(to right, #30c3a6, #8cc69b);
}

.footer-text {
  font-family: 'Proxima', sans-serif !important;
  margin-top: 1% !important;
  color: #2a5b51 !important;
}

/*********************************
 * OVERRIDING CSS OF MATERIAL-UI *
 *********************************/
.MuiTypography-root-79 {
  margin: 5px !important;
}

.MuiPaper-elevation4-8 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.right-drawer .MuiSvgIcon-colorPrimary-191 {
  color: rgba(26, 188, 156, 0.9) !important;
}

/*******************************
 * SLICK CARASOUL CSS OVERRIDE *
 *******************************/
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  color: #2a5b51 !important;
}

/*****************************
 * SPINNER ICON CSS OVERRIDE *
 *****************************/

.ball-scale-multiple > div {
  width: 100px;
  height: 100px;
}
