/* -------------------- Resets --------------------- */
body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  border: 0; /* kills Gecko bug when img's are placed inside links */
  vertical-align: bottom; /* set vertical align to bottom for IE */
}
/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto; /* triggers 100% height in Opera 9.5 */
}
body {
  height: 100%; /* helps make height 100% */
  background: #f7f7f7 !important;
  color: #333;
}
/* ------------------ Typography ------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1em;
}
p,
ul,
ol {
  font-size: 1em;
}
ul {
  margin: 0 0 1em 25px;
  list-style: none;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}

.portfolio {
  height: 800px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/coding-background.jpg'); */
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

/**********************
 * MAIN CONTAINER CSS *
 **********************/
.container {
  width: 80%;
  margin: 0 auto;
}

/**************
 * NAVBAR CSS *
 **************/
.navbar {
  padding: 1%;
}

.appbar {
  /* background-color: transparent !important; */
}

.navbar-content {
  display: flex;
  width: 100%;
}

.navbar-content-left {
  display: flex;
  width: 50%;
}

.navbar-content-right {
  width: 50%;
  text-align: right;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  margin: 0.3rem;
}

.menu-button {
  margin: 0.1rem;
}

/****************
 * HOMEPAGE CSS *
 ****************/
.main-wrapper {
  position: relative;
  padding: 0 0.9rem 0 0.9rem;
}

.main-wrapper-paper {
  height: 700px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #fff !important;
  background-color: #f5f5f5 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/coding-background.jpg');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.name-head {
  display: flex;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-family: 'Libre Baskerville', serif;
  font-size: 80px;
  color: #333;
  color: transparent;
  background: -webkit-linear-gradient(#999, #999) center 1.09em no-repeat;
  background: linear-gradient(#999, #999) center 1.09em no-repeat;
  background-size: 85% 3px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.name-head:hover {
  background-size: 95% 3px;
}

.main-wrapper-first-head {
  font-family: 'Cabin Sketch', cursive !important;
  font-size: 3.75rem !important;
  color: white !important;
  text-transform: uppercase;
  line-height: 1.6 !important;
  letter-spacing: 0.2em !important;
}

.main-wrapper-second-head {
  font-weight: 900 !important;
  font-family: 'Cabin Sketch', cursive !important;
  color: #eba14f !important;
  text-transform: uppercase;
  line-height: 0.8 !important;
  letter-spacing: 0.1em !important;
}

/*********************************
 * OVERRIDING CSS OF MATERIAL-UI *
 *********************************/
.MuiTypography-root-79 {
  margin: 5px !important;
}
