/* -------------------- Resets --------------------- */
body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  border: 0; /* kills Gecko bug when img's are placed inside links */
  vertical-align: bottom; /* set vertical align to bottom for IE */
}

/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto; /* triggers 100% height in Opera 9.5 */
  font-size: 62.5%;
}

body {
  height: 100%; /* helps make height 100% */
  background: #f7f7f7 !important;
  color: #333;
  font-size: 1.4rem;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ------------------ Typography ------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1em;
}
p,
ul,
ol {
  font-size: 1em;
}
ul {
  margin: 0 0 1em 25px;
  list-style: none;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}

.portfolio {
  text-align: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-text {
  font-size: 4rem;
}

.horizontal-rule {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #30c3a6,
    rgba(0, 0, 0, 0)
  );
}

/**********************
 * MAIN CONTAINER CSS *
 **********************/
.container {
  width: 80%;
  margin: 0 auto;
}

/**************
 * NAVBAR CSS *
 **************/
.navbar {
  padding: 1%;
}

.appbar {
  background-color: transparent !important;
}

.appbar-background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back5.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-content {
  display: flex;
  width: 100%;
}

.navbar-content-left {
  display: flex;
  width: 50%;
  padding-top: 0.5rem;
}

.navbar-content-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
}

.navbar-avatar-in {
  margin: 1rem;
  opacity: 1;
  animation: 0.5s slidein;
  transition: all 0.35s ease;
}
@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.navbar-avatar-out {
  opacity: 0;
  animation: 0.5s slideout;
  transition: all 0.35s ease;
}

@keyframes slideout {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.navbar-brand {
  font-size: 5rem;
  font-weight: 600;
  margin: 0.3rem;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-family: 'Alex Brush';
}

.navbar-brand-out {
  position: absolute;
  top: -5rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.navbar-brand-in {
  position: absolute;
  top: 1rem;
  left: 19rem;
  font-size: 5rem;
  font-weight: 600;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  font-family: 'Alex Brush';
  -webkit-transition: top 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.menu-button {
  margin: 1rem !important;
}

/* navigation CSS */
.nav {
  position: relative;
}
.button_container {
  position: fixed;
  top: 2.3%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  outline: none;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #30c3a6;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  font-family: 'Proxima', sans-serif;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #2a5b51;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 50%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #2a5b51;
  transition: 0.35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/****************
 * HOMEPAGE CSS *
 ****************/
.main-wrapper {
  position: relative;
}

.main-wrapper-paper {
  height: 920px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff !important;
  background-color: #f5f5f5 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./assets/images/background/back5.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  border-radius: 0 !important;
  padding: 0;
}

.avatar-image {
  display: flex;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.main-avatar {
  width: 150px !important;
  height: 150px !important;
  border-radius: 0 !important;
}

.name-head {
  display: flex;
  margin: 0;
  position: absolute;
  top: 37%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: #333;
  color: transparent;
  background: linear-gradient(to right, #30c3a6, #8cc69b) center 1.09em
    no-repeat;
  background-size: 80% 3px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.name-head:hover {
  background-size: 97% 3px;
}

.main-wrapper-first-head {
  font-weight: 100 !important;
  font-size: 8rem !important;
  color: #30c3a6 !important;
  letter-spacing: 0.05em !important;
  font-family: 'Raleway', sans-serif !important;
}

.main-wrapper-second-head {
  font-weight: 900 !important;
  color: #fff !important;
  font-size: 8rem !important;
  letter-spacing: 0.1em !important;
  text-shadow: 0 0 #fff, 0.04em 0 0 #fff, 0 0, -0.03em 0 0 #fff;
  margin-left: 1rem !important;
  font-family: 'Raleway', sans-serif !important;
}

/******************
 * TYPED-TEXT CSS *
 ******************/
.typed-text {
  display: flex;
  margin: 0;
  position: absolute;
  font-size: 5rem;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.typed {
  display: flex;
  margin: 3.2rem;
  position: absolute;
  font-size: 2.5rem;
  left: 48%;
  transform: translate(-50%, -50%);
}

/********************
 * SOCIAL-ICONS CSS *
 ********************/
.social-icons-wrapper {
  display: flex;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.social-icon {
  margin: 0 11% 0 0;
  border-radius: 50%;
  width: 50px;
  position: absolute;
  top: 5px;
  left: 4px;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 1rem;
  position: relative;
  font-size: 1.2em;
  left: 74px;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: ' ';
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #c2ccf1, #d0cfdf);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #c2ccf1, #d0cfdf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.social-icons a.social-square:before {
  background: linear-gradient(45deg, #f5f5f5, #a2dcd1);
  border-radius: 10%;
}
.social-icons a.social-square:hover:before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}

.social-icons a.social-square:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.social-icons-nav-in .social-icons {
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-right: 6rem;
  position: absolute;
  top: 0rem;
  right: 10rem;
  -webkit-transition: top 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.social-icons-nav-out .social-icons {
  margin-top: 0.3rem;
  margin-bottom: 0;
  margin-right: 6rem;
  position: absolute;
  top: -6rem;
  right: 10rem;
  -webkit-transition: top 0.35s ease-in-out;
  -moz-transition: top 0.35s ease-in-out;
  transition: top 0.35s ease-in-out;
}

.social-nav-icon {
  position: absolute;
  top: 0.9rem;
  left: 1.1rem;
  font-size: 2rem;
}

/*************
 * QUOTE CSS *
 *************/
.quote-wrapper {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 85%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.quote-text {
  quotes: '“' '”' '‘' '’';
  font-size: 3rem !important;
  color: white !important;
  letter-spacing: 0.05em !important;
  font-family: 'Proxima', sans-serif !important;
}

.quote-writer {
  quotes: '“' '”' '‘' '’';
  font-size: 2rem !important;
  color: white !important;
  letter-spacing: 0.05em !important;
  font-style: italic;
  font-family: 'Proxima', sans-serif !important;
}

.quote-text:before {
  content: open-quote;
}

.quote-text:after {
  content: close-quote;
}

/************************
 * SKILLS COMPONENT CSS *
 ************************/
.skills-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
}

.skills-wrapper-paper {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.skills-grid {
  margin: 1rem 1rem;
}

.skills-wrapper-paper .grid-item {
  padding: 0 !important;
}

.skills-wrapper-paper .card {
  margin: 3rem auto;
  width: 430px;
  height: 320px;
  cursor: pointer;
  padding: 1rem 0 2rem 0;
  border-radius: 10px !important;
  box-shadow: none;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  transform: scale(0.95);
  transition: box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.skills-wrapper-paper .card:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.card-icon {
  margin: 2rem;
}

.skills-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: white !important;
}

.card-content-text {
  font-family: 'Proxima', sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.04 !important;
  font-size: 3.5rem !important;
  color: #2a5b51 !important;
  transition: color 0.4s;
}

.card-content-sub-text {
  font-family: 'Proxima', sans-serif !important;
  line-height: 1.5 !important;
  font-size: 2rem !important;
  margin: 2rem 1rem 1rem 1rem !important;
  color: #46615c !important;
  transition: color 0.4s;
}

.skills-wrapper-paper .card:hover .card-content-text {
  transition: color 0.4s;
  font-weight: 600 !important;
}

.skills-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/******************
 * QUOTES WRAPPER *
 ******************/
.quotes-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  color: #7e7e7e;
}

.quotes-wrapper-paper {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.quote {
  outline: none;
}

.quotes-text {
  quotes: '“' '”' '‘' '’';
  font-size: 3rem;
  font-weight: 600;
  color: #2a5b51;
  letter-spacing: 0.05em;
  font-family: 'Proxima', sans-serif;
}

.quotes-writer {
  quotes: '“' '”' '‘' '’';
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  color: #fff;
  letter-spacing: 0.05em;
  font-style: italic;
  font-family: 'Proxima', sans-serif;
}

/************************
 * PROJECTS SECTION CSS *
 ************************/
.projects-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
}

.projects-wrapper-paper {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 80%;
  margin: 0 auto;
}

.projects-grid {
  margin-top: 2rem;
}

.projects-wrapper-paper .grid-item {
  padding: 0 !important;
}

.projects-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.projects-wrapper .card {
  margin: 3rem auto;
  width: 430px;
  height: 470px;
  padding: 1rem 0 2rem 0;
  background-color: #e6f8ed;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
}
.projects-wrapper-paper .card .card-image {
  height: 50px;
  margin: 2rem 2rem;
  font-size: 5rem;
  color: rgba(26, 188, 156, 0.9) !important;
}

.wrapper {
  width: 430px;
  height: 500px;
  background: white;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  font-family: 'Proxima';
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  /* background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg)
    no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; */
}

.wrapper .container .top img {
  max-height: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  text-align: left;
  color: #2a5b51;
  width: calc(70% - 40px);
}

.details .project-name {
  font-size: 2.5rem;
  font-weight: 600;
}

.details .project-description {
  font-size: 1.7rem;
}

.wrapper .container .bottom .left .github-link {
  float: right;
  outline: none;
  width: calc(30% - 2px);
  height: 100%;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  transition: background 0.3s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .github-link i {
  font-size: 3rem;
  padding: 3.3rem;
  color: #2a5b51;
  transition: transform 0.3s;
}
.wrapper .container .bottom .left .github-link:hover {
  background: linear-gradient(to right, #1b9980, #41c062);
  transition: background 0s 0.3s;
}
.wrapper .container .bottom .left .github-link:hover i {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  color: #00394b;
}

.github-link,
.github-link-image {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.github-link:hover .github-link-image {
  transform: translate3d(0, 0, 0);
}

.github-link-image {
  position: absolute;
  top: 30%;
  right: 11%;
  width: 35px;
  transform: translate3d(0, 200%, 0);
}

.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9b2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove,
.wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  cursor: pointer;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: #2a5b51;
  opacity: 1;
}

.material-icons {
  font-weight: 500;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents .tech-head {
  color: #2a5b51;
  font-size: 3rem;
  font-weight: 600;
}

.wrapper .inside .contents .technologies {
  display: flex;
  justify-content: center;
}

.wrapper .inside .contents .category-head {
  color: #7e7e7e;
  color: #2a5b51;
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.wrapper .inside .contents .categories {
  display: flex;
  justify-content: center;
}

.technologies .icons {
  font-size: 4rem;
  margin: 1rem 4rem;
}

.icon-name,
.category-name {
  font-size: 2rem;
  color: #2a5b51;
}

/***********************
 * CONTACT SECTION CSS *
 ***********************/

.contacts-wrapper {
  position: relative;
  padding: 8rem 1.9rem 8rem 0.9rem;
  /* background: linear-gradient(#e6f8ed, rgba(170, 225, 216, 0.9)); */
}

.contacts-wrapper-paper {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 70%;
  margin: 0 auto;
}

.contacts-grid {
  margin-top: 2rem;
}

.contacts-wrapper-paper .grid-item {
  padding: 0 !important;
}

.contacts-head {
  font-size: 7rem !important;
  font-family: 'Proxima', sans-serif !important;
  letter-spacing: 0.02em !important;
  font-weight: 600 !important;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  width: 50%;
  margin: 2rem auto !important;
  z-index: 1;
}

.contact-icon {
  margin: 2% !important;
  transition: all ease 0.4s;
}

.contact-icon:hover {
  background-color: #e6f8ed !important;
  transition: all ease 0.4s;
}

.contact-icons {
  font-size: 2rem !important;
  color: white;
  transition: all ease 0.4s;
}

.contact-icon:hover .linkedin {
  color: #0077b5 !important;
  transition: all ease 0.4s;
}
.contact-icon:hover .facebook {
  color: #4267b2 !important;
  transition: all ease 0.4s;
}
.contact-icon:hover .github {
  color: #24292e !important;
  transition: all ease 0.4s;
}
.contact-icon:hover .twitter {
  color: #1da1f2 !important;
  transition: all ease 0.4s;
}

.contact-row {
  text-align: left;
  margin: 3%;
}

.phone-head {
  display: flex;
}

.phone-icon {
  font-size: 3rem;
  margin: 1%;
  color: #30c3a6;
}

.phone {
  margin: 1% !important;
  font-family: 'Proxima', sans-serif !important;
  font-weight: 500 !important;
}

.phone-text {
  margin: 2% !important;
  font-size: 2rem;
  color: #6b7b78;
}
.email-row {
  text-align: left;
  margin: 5%;
}

.email-head {
  display: flex;
}

.email-icon {
  font-size: 3rem;
  margin: 1%;
  color: #30c3a6;
}

.email {
  margin: 1% !important;
  font-family: 'Proxima', sans-serif !important;
  font-weight: 500 !important;
}

.email-text {
  margin: 2% !important;
  font-size: 2rem;
  color: #6b7b78;
}

.email-text a {
  color: #6b7b78;
  text-decoration: none;
  transition: all ease 0.3s;
}

.email-text a:hover {
  color: #30c3a6;
  text-decoration: none;
  transition: all ease 0.3s;
}

/**********************
 * FOOTER SECTION CSS *
 **********************/
.footer-wrapper {
  position: relative;
  padding: 1rem 1.9rem 0rem 0.9rem;
}

.footer-wrapper-paper {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 70%;
  margin: 4rem auto;
}

.footer {
  height: 100%;
  background: linear-gradient(to right, #30c3a6, #8cc69b);
}

.footer-text {
  font-family: 'Proxima', sans-serif !important;
  margin-top: 1% !important;
  color: white !important;
}

/*********************************
 * OVERRIDING CSS OF MATERIAL-UI *
 *********************************/
.MuiTypography-root-79 {
  margin: 5px !important;
}

.MuiPaper-elevation4-8 {
  box-shadow: none !important;
}

.right-drawer .MuiSvgIcon-colorPrimary-191 {
  color: rgba(26, 188, 156, 0.9) !important;
}

/*******************************
 * SLICK CARASOUL CSS OVERRIDE *
 *******************************/
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  color: #2a5b51 !important;
}

/*****************************
 * SPINNER ICON CSS OVERRIDE *
 *****************************/

.ball-scale-multiple > div {
  width: 100px;
  height: 100px;
}
