@font-face {
  font-family: 'Proxima';
  src: url('assets/fonts/proxima.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima', 'Raleway', 'Segoe UI', 'Cabin', sans-serif;
}

/* -------------------- Resets --------------------- */
body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  border: 0; /* kills Gecko bug when img's are placed inside links */
  vertical-align: bottom; /* set vertical align to bottom for IE */
}

/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto; /* triggers 100% height in Opera 9.5 */
  font-size: 62.5%;
}

body {
  height: 100%; /* helps make height 100% */
  background: #f7f7f7 !important;
  color: #333;
  font-size: 1.4rem;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ------------------ Typography ------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1em;
}

p,
ul,
ol {
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}
